<style>
    a.blue-link {
      color: blue;
    }
    
    @media screen and (max-width: 600px) {
      /* Adjust the layout and styling for small screens */
      h3, h5 {
        font-size: 16px;
        text-align: center;
      }
      
      img {
        max-width: 100%;
        height: auto;
      }
      
      div {
        padding-bottom: 6px;
      }
    }
  </style>
This workshop will feature a tutorial by the following speakers:<br>


<div style="padding-bottom: 12px;">
  <h4><font color="MediumSeaGreen">WIP</font></h4>
</div>
<div>
  <div>
    <img src="/assets/temporary-human-icon.jpeg">
  </div>
  WIP
 <h5>Talk title:  </h5><i>(tantative) OSS Myths and Truths</i>
<BR>
<BR>
</div>






