<style>
    a.blue-link {
      color: blue;
    }

    @media screen and (max-width: 600px) {
      /* Adjust the layout and styling for small screens */
      h3, h5 {
        font-size: 16px;
        text-align: center;
      }

      img {
        max-width: 100%;
        height: auto;
      }

      div {
        padding-bottom: 6px;
      }
    }
  </style>

<div style="padding-bottom: 12px;">
  <h4><font color="MediumSeaGreen">Shinobu Saito and Yukako Iimura (NTT)</font></h4>
</div>
<div>
  <div>
    <img src="/assets/Saito.jpg">
  </div>
  <div>
    <img src="/assets/temporary-human-icon.jpeg">
  </div>
  <h5>Talk title:  </h5><i>OSS Myths and Facts</i>
  <h5>Abstract:  </h5>
  <div>
    TBD
  </div>

<div style="padding-bottom: 12px;">
  <h4><font color="MediumSeaGreen">Erina Makihara (Ritsumeikan University)</font></h4>
</div>
<div>
  <div>
    <img src="/assets/Makihara.jpeg">
  </div>
  <h5>Talk title:  </h5><i>Towards programming exercise using activities by episodic volunteer contributors in open source software</i>
  <h5>Abstract:  </h5>
  <div>
    Many educational institutions incorporate hands-on programming exercises into their curriculum. These exercises often adopt the Agile model and project-based learning (PBL) approach. This allows students to experience the development flow and team communication that occur in real-world software development.
    While these exercises commonly use Git and GitHub for team management, there are limited opportunities for students to read source code or learn about developers' activities related to open source software (OSS). However, OSS is essential in the software industry, and reading OSS source code can provide valuable insights into real-world software development for students.
    This study focuses on developers in open source software (OSS) project who contribute to OSS projects on a short-term basis, known as episodic volunteers or casual contributors. By examining their roles and activities in software development, students can gain a better understanding of how specific functions are added or modified in OSS.
    In this presentation, I will discuss the idea of using activities of episodic volunteer contributors for software development education. Additionally, I will summarize the problem, requirements and functions of a supporting framework for this approach.
  </div>
<BR>
<BR>
</div>






