<style>
    .central {
      float: center;
      width: 100%;
      padding: 10px;
      text-align: justify;
    }
</style>
    
<div class="central">
    <p>
This is the first international workshop on Exploring Employee Experience in Open Source Software. In recent years, the employee experience, such as well-being, has become increasingly important for software developers. Enhancing the employee experience can lead to greater developer satisfaction, which in turn benefits the organization at large.
    </p>

    <p>
Open-source software (OSS) development is mainly sustained by volunteers. This structure implies that developers in the open-source software community may enjoy a positive employee experience. 
    </p>

    <p>
Given this background, our workshop invites papers that mainly investigate employee/developer experience within OSS. Below is a list of the main topics the workshop will cover. 
        <ul>
            <li>Empirically exploration and mining software repositories</li>
            <li>Experience report</li>
            <li>Engagement analysis</li>
            <li>Empowerment approach</li>
            <li>Others related to OSS</li>
          </ul>
    </p>

    <p>
To attend this workshop, all participants must register for the APSEC2023 Full Pass, which covers both the conference and the workshop. The workshop will be held on Dec. 4.
    </p>

</div>
    