<style>
    .central {
      float: center;
      width: 100%;
      padding: 10px;
      text-align: justify;
    }
</style>
    
<div class="central">
    <p>
Our workshop will primarily feature two components: presentations and a tutorial. We invite researchers who would like to present their work. Details about the submission process can be found on the Registration page. Additionally, the organizers will conduct a tutorial focused on the topic of employee experience. This tutorial will outline our latest research and include a discussion segment to delve deeper into understanding employee experience. More information about this can be found on the Speakers page
    </p>

</div>
    