<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      color: #3b7bdc;
    }
    td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background:rgba(143,188,143,0.2);
    }
</style>

<table>
<b>4th December</b>
    <tr>
        <td>14:00-14:15</td>
        <td>Opening</td>
    </tr>
    <tr>
        <td>14:15-15:30</td>
        <td>Tutorial & Invited Talk</td>
    </tr>
    <tr>
        <td>15:30-16:00</td>
        <td>Break</td>
    </tr>
    <tr>
      <td>16:00-16:30</td>
      <td>Discussion</td>
    </tr>
    <tr>
      <td>16:30-16:45</td>
      <td>Closing</td>
  </tr>
</table>
